# IMDB2 CORE

## Import and Load Data

In [44]:
import pandas as pd
import numpy as np

In [45]:
# Load basics dataset
#basics_url = ('https://datasets.imdbws.com/title.basics.tsv.gz')
#df_basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

#Load ratings dataset
#ratings_url = ('https://datasets.imdbws.com/title.ratings.tsv.gz')
#df_ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

# Load akas dataset
#akas_url = ('https://datasets.imdbws.com/title.akas.tsv.gz')
#df_akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

## Exploring and Cleaning

**AKAS Dataset**

In [46]:
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [47]:
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35736618 entries, 0 to 35736617
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [48]:
df_akas = df_akas.replace({'\\N':np.nan})

In [49]:
df_akas.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1888490
language            6584703
types              30195955
attributes         35478145
isOriginalTitle        2109
dtype: int64

In [50]:
# Keeping only US movies
df_akas.drop(df_akas.loc[df_akas['region'] != 'US'].index, inplace =True)

In [51]:
df_akas['region'].value_counts()

US    1432914
Name: region, dtype: int64

**BASIC DATASET**

In [52]:
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [53]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9808970 entries, 0 to 9808969
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 673.5+ MB

In [54]:
df_basics = df_basics.replace({'\\N':np.nan})

In [55]:
df_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1328540
endYear           9703061
runtimeMinutes    6918513
genres             442157
dtype: int64

In [56]:
# Eliminate movies that are null for runtimeMinutes and genres (Basics)

df_basics = df_basics.dropna(axis = 0, subset =['runtimeMinutes', 'genres'])

In [57]:
df_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          164745
endYear           2764245
runtimeMinutes          0
genres                  0
dtype: int64

In [58]:
df_basics['titleType'].value_counts()

tvEpisode       1426839
short            599384
movie            381525
video            180172
tvMovie           91437
tvSeries          90224
tvSpecial         18057
tvMiniSeries      17127
tvShort            8791
videoGame           322
Name: titleType, dtype: int64

In [59]:
# keep only titleType==Movie
df_basics.drop(df_basics.loc[df_basics['titleType'] != 'movie'].index, inplace =True)

In [60]:
# Verifying Drop
df_basics['titleType'].value_counts()

movie    381525
Name: titleType, dtype: int64

In [61]:
pd.set_option("display.max_rows", None)
df_basics['startYear'].value_counts()

2017    14366
2018    14322
2019    14055
2016    13949
2015    13475
2014    13100
2022    12738
2013    12379
2021    12326
2012    11625
2020    11564
2011    10774
2010    10201
2009     9351
2008     8148
2007     6962
2006     6514
2005     5829
2004     5201
2003     4587
2023     4341
2002     4130
2001     3861
2000     3638
1999     3324
1998     3189
1997     3087
1989     3049
1988     2983
1990     2950
1987     2927
1996     2850
1986     2849
1995     2777
1991     2770
1985     2752
1983     2734
1984     2728
1994     2713
1992     2669
1981     2626
1982     2608
1971     2543
1979     2537
1980     2533
1993     2533
1976     2521
1973     2518
1972     2516
1974     2506
1970     2485
1978     2479
1975     2472
1977     2448
1969     2347
1968     2342
1967     2088
1965     1899
1966     1893
1964     1856
1962     1798
1961     1724
1960     1715
1963     1700
1959     1652
1957     1617
1958     1610
1956     1490
1955     1394
1953     1370
1954     1361
1937     1316
1951     1302
1936     1287
1952     1280
1938     1280
1950     1238
1939     1189
1935     1173
1949     1157
1940     1104
1934     1093
1942     1069
1932     1069
1941     1050
1948     1029
1931     1019
1933     1016
1943      995
1947      978
1946      882
1917      849
1930      842
1944      837
1918      827
1927      823
1919      821
1928      816
1926      785
1945      770
1925      746
1929      732
1920      727
1916      682
1921      674
1924      640
1922      626
1923      582
1915      367
1914      177
1913      109
2024       58
1912       44
1911       21
1910       14
2025       11
1909        4
1907        3
1905        3
2029        2
1900        2
1903        2
1908        2
1906        2
1899        1
1904        1
1897        1
1896        1
2026        1
1894        1
Name: startYear, dtype: int64

In [62]:
#df_basics = df_basics.dropna(axis = 0, subset =['startYear'])

In [63]:
#df_basics.isna().sum()

In [64]:
df_basics['startYear'] = df_basics['startYear'].astype('float64')

In [65]:
# keep startYear 2000-2022
df_basics.drop(df_basics.loc[df_basics['startYear'] > 2022].index, inplace =True)

In [66]:
df_basics.drop(df_basics.loc[df_basics['startYear'] < 2000].index, inplace =True)

In [67]:
pd.set_option("display.max_rows", None)
df_basics['startYear'].value_counts()

2017.0    14366
2018.0    14322
2019.0    14055
2016.0    13949
2015.0    13475
2014.0    13100
2022.0    12738
2013.0    12379
2021.0    12326
2012.0    11625
2020.0    11564
2011.0    10774
2010.0    10201
2009.0     9351
2008.0     8148
2007.0     6962
2006.0     6514
2005.0     5829
2004.0     5201
2003.0     4587
2002.0     4130
2001.0     3861
2000.0     3638
Name: startYear, dtype: int64

In [68]:
# Exclude movies that are included in the documentary category.
is_documentary = df_basics['genres'].str.contains('documentary',case=False)
df_basics = df_basics[~is_documentary]

In [69]:
df_basics['genres'].value_counts()

Drama                            37197
Comedy                           13747
Comedy,Drama                      6550
Horror                            6129
Drama,Romance                     4364
Thriller                          4234
Comedy,Drama,Romance              3067
Comedy,Romance                    2972
Action                            2907
Drama,Thriller                    2316
Romance                           2106
Horror,Thriller                   2000
Action,Crime,Drama                1487
Crime,Drama                       1458
Animation                         1335
Crime,Drama,Thriller              1279
Family                            1264
Drama,Family                      1146
Comedy,Horror                     1138
Music                             1130
Action,Drama                      1012
Crime                              984
Sport                              961
Sci-Fi                             950
Horror,Mystery,Thriller            871
Drama,Mystery,Thriller             756
Action,Comedy                      731
Comedy,Drama,Family                718
Action,Adventure,Comedy            709
Drama,Horror,Thriller              709
Action,Thriller                    691
Mystery                            682
Comedy,Crime,Drama                 669
Biography                          666
Drama,Horror,Mystery               660
Fantasy                            658
Crime,Drama,Mystery                654
Adult                              652
Adventure                          633
Action,Crime,Thriller              623
Action,Comedy,Crime                615
Drama,Mystery                      577
Adventure,Animation,Comedy         561
Action,Drama,Thriller              547
Musical                            541
Comedy,Crime                       530
Action,Adventure,Drama             513
Biography,Drama                    507
History                            507
Drama,History                      503
Crime,Thriller                     494
Action,Adventure,Animation         476
Action,Comedy,Drama                460
Drama,War                          460
Comedy,Family                      447
Drama,Horror                       440
Biography,Drama,History            431
Mystery,Thriller                   426
Comedy,Drama,Fantasy               416
Drama,Fantasy                      411
Drama,Music                        381
Adventure,Comedy,Drama             379
Comedy,Drama,Music                 361
Drama,Sport                        351
Drama,Sci-Fi                       346
Horror,Mystery                     336
Drama,Romance,Thriller             336
Action,Drama,Romance               323
Action,Adventure,Fantasy           308
Adventure,Drama                    297
Crime,Drama,Romance                289
Drama,Fantasy,Horror               288
Adventure,Comedy,Family            270
Adventure,Comedy                   270
Drama,Mystery,Romance              260
Comedy,Fantasy                     257
Action,Crime                       249
Action,Adventure,Sci-Fi            247
Comedy,Sci-Fi                      245
Action,Comedy,Horror               244
Crime,Mystery,Thriller             243
Drama,Family,Romance               241
Comedy,Thriller                    240
Western                            236
Animation,Family                   231
Adventure,Animation,Family         225
Drama,Music,Romance                224
Comedy,Drama,Thriller              224
Action,Drama,History               221
Horror,Sci-Fi                      218
Crime,Drama,Horror                 213
Comedy,Horror,Thriller             212
Horror,Sci-Fi,Thriller             210
Drama,History,War                  209
Comedy,Drama,Musical               203
Comedy,Drama,Horror                202
Sci-Fi,Thriller                    200
Action,Adventure,Crime             199
Drama,Fantasy,Mystery              198
Comedy,Drama,Mystery               198
Action,Horror,Thriller             197
War                                193
Drama,Fantasy,Romance              187
Drama,Musical                      186
Adventure,Drama,Family             185
Action,Sci-Fi                      185
Biography,Crime,Drama              182
Biography,Comedy,Drama             179
Reality-TV                         179
Drama,Sci-Fi,Thriller              178
Comedy,Music                       172
Comedy,Fantasy,Horror              171
Drama,Musical,Romance              170
Adventure,Family                   168
Action,Adventure                   167
Action,Sci-Fi,Thriller             163
Comedy,Family,Romance              162
Action,Comedy,Romance              161
Action,Horror                      157
Drama,History,Romance              154
Comedy,Fantasy,Romance             153
Crime,Horror,Thriller              153
Adventure,Family,Fantasy           152
Comedy,Musical                     151
Action,Horror,Sci-Fi               148
Comedy,Sport                       148
Drama,Mystery,Sci-Fi               146
Comedy,Horror,Sci-Fi               144
Comedy,Family,Fantasy              139
Biography,Drama,Music              139
Adventure,Comedy,Fantasy           133
Animation,Comedy,Family            132
Biography,Drama,Romance            131
Adventure,Drama,Fantasy            131
Animation,Comedy,Drama             127
Action,Drama,War                   126
Action,Drama,Fantasy               126
Comedy,Crime,Thriller              126
Action,Adventure,Thriller          125
Action,Comedy,Fantasy              120
Biography,Drama,Sport              119
Action,Romance                     118
Fantasy,Horror                     117
Action,Adventure,Horror            117
Comedy,Horror,Mystery              116
Romance,Thriller                   116
Comedy,Drama,Sport                 115
Action,Drama,Horror                115
Drama,Romance,War                  113
Adventure,Drama,Romance            111
Drama,Horror,Sci-Fi                110
Crime,Horror,Mystery               109
Fantasy,Horror,Mystery             107
Action,Biography,Drama             106
Action,Drama,Sci-Fi                106
Comedy,Crime,Mystery               105
Comedy,Drama,Sci-Fi                101
Action,Animation,Comedy             99
Fantasy,Horror,Thriller             99
Comedy,Mystery                      98
Horror,Mystery,Sci-Fi               96
Action,Comedy,Thriller              96
Drama,Romance,Sci-Fi                95
Drama,Family,Fantasy                95
Action,Fantasy,Horror               94
Action,Fantasy                      93
Comedy,Musical,Romance              90
Action,Drama,Mystery                90
Animation,Comedy                    86
Action,Drama,Sport                  84
Adventure,Fantasy                   84
Drama,Western                       80
Action,Comedy,Sci-Fi                80
Action,Adventure,Family             80
Comedy,Music,Romance                80
Drama,Horror,Romance                80
Action,Crime,Mystery                79
Action,Animation,Drama              78
Adventure,Comedy,Crime              78
Comedy,Drama,History                76
Adventure,Drama,Thriller            75
Drama,Fantasy,Thriller              74
Comedy,Crime,Romance                72
Action,Drama,Family                 70
Adventure,Animation,Drama           69
Drama,Fantasy,Sci-Fi                69
Adventure,Drama,Mystery             69
Biography,History                   68
Adventure,Animation,Fantasy         67
Crime,Mystery                       66
Adventure,Comedy,Romance            66
Drama,History,Thriller              66
Family,Fantasy                      66
Animation,Drama                     66
Mystery,Sci-Fi,Thriller             65
Action,Mystery,Thriller             64
Drama,Romance,Sport                 62
Adventure,Biography,Drama           62
Drama,Family,Sport                  62
Adventure,Comedy,Horror             61
Action,Horror,Mystery               61
Adventure,Animation                 60
Crime,Drama,Fantasy                 60
Action,Animation,Sci-Fi             59
Action,Fantasy,Sci-Fi               59
Adventure,Crime,Drama               58
Comedy,Horror,Romance               58
Fantasy,Sci-Fi                      58
Adventure,Drama,History             57
Animation,Family,Fantasy            57
Crime,Drama,History                 56
Action,Crime,Horror                 56
Biography,Drama,Family              56
Musical,Romance                     55
Animation,Drama,Fantasy             55
Action,Animation,Fantasy            54
Crime,Drama,Family                  53
Comedy,Mystery,Thriller             53
Drama,Family,History                52
Drama,Family,Musical                52
Adventure,Drama,Sci-Fi              52
Drama,Family,Music                  51
Fantasy,Romance                     51
Talk-Show                           51
Comedy,Crime,Horror                 51
Drama,Thriller,War                  51
Adventure,Comedy,Sci-Fi             50
Adventure,Horror,Thriller           50
Fantasy,Thriller                    50
Adventure,Thriller                  48
Drama,Music,Musical                 48
Drama,Family,Thriller               48
Action,Biography,Crime              47
Comedy,Family,Musical               45
Action,Romance,Thriller             45
Crime,Horror                        45
Comedy,Romance,Sport                44
Fantasy,Mystery                     44
Drama,Family,Mystery                44
Action,Adventure,Biography          43
Adventure,Drama,Horror              43
Animation,Drama,Family              43
Action,Comedy,Family                43
Fantasy,Horror,Sci-Fi               42
Adventure,Sci-Fi                    42
Comedy,Fantasy,Sci-Fi               41
Adventure,Fantasy,Horror            41
Mystery,Romance,Thriller            40
Horror,Romance                      40
Crime,Romance,Thriller              39
Action,War                          39
Comedy,Drama,War                    39
Horror,Romance,Thriller             39
Comedy,Romance,Sci-Fi               37
Biography,Drama,War                 37
Comedy,Horror,Musical               37
Drama,Fantasy,Music                 36
Animation,Comedy,Fantasy            36
Biography,Comedy,Crime              36
Mystery,Sci-Fi                      36
Animation,Sci-Fi                    35
Family,Romance                      35
Action,History                      34
Action,Adventure,Mystery            34
Crime,Drama,Music                   34
Biography,Comedy                    34
Action,Animation,Crime              33
Comedy,Romance,Thriller             31
Animation,Fantasy                   31
Action,Adventure,History            31
Comedy,History                      31
Action,Crime,Romance                31
Action,Drama,Musical                30
Comedy,Mystery,Romance              29
Action,Adventure,Romance            28
Action,Comedy,Mystery               28
Adventure,Comedy,Mystery            28
Action,Mystery,Sci-Fi               28
Action,Western                      28
Biography,Drama,Thriller            28
Action,Animation                    27
Adventure,Biography,Comedy          27
Action,Drama,Music                  27
Comedy,Crime,Family                 27
Crime,Drama,Sport                   27
Family,Musical                      26
Horror,Mystery,Romance              26
Adventure,Horror                    26
Comedy,Sci-Fi,Thriller              25
Comedy,Family,Sport                 25
Action,Drama,Western                25
Comedy,Western                      24
Action,Fantasy,Thriller             24
Animation,Drama,Romance             24
Fantasy,Mystery,Sci-Fi              24
Drama,History,Mystery               24
History,War                         24
Adult,Drama                         23
Adventure,Horror,Mystery            23
Drama,Fantasy,Musical               23
Mystery,Romance                     23
Comedy,Crime,Fantasy                22
Drama,Family,War                    22
Adventure,Family,Sci-Fi             22
Animation,Comedy,Sci-Fi             22
Music,Romance                       22
Fantasy,Sci-Fi,Thriller             22
Comedy,Family,Music                 22
Fantasy,Mystery,Thriller            21
Action,Sport                        21
Animation,Biography,Drama           21
Comedy,Fantasy,Music                21
Biography,Music                     21
Adventure,Fantasy,Sci-Fi            21
Adventure,Comedy,Musical            21
Action,Thriller,War                 20
Music,Musical                       20
Animation,Comedy,Crime              20
Adventure,Romance                   20
Comedy,War                          20
Animation,Horror                    20
Action,Crime,Sci-Fi                 20
Comedy,Horror,Music                 20
Adventure,Family,Mystery            20
Action,History,War                  20
Adventure,Animation,Sci-Fi          20
Adventure,Fantasy,Mystery           20
Adventure,Sci-Fi,Thriller           19
Comedy,Fantasy,Musical              19
Fantasy,Horror,Romance              19
Adventure,Horror,Sci-Fi             19
Adult,Romance                       19
Drama,Fantasy,History               19
Family,Sport                        19
Drama,History,Sport                 19
Action,Comedy,Musical               18
Animation,Family,Musical            18
Adventure,Mystery,Thriller          18
Action,Family                       18
Biography,Drama,Musical             18
Romance,Sci-Fi                      18
Horror,Musical                      18
Biography,Drama,Fantasy             17
Crime,Romance                       17
Comedy,Mystery,Sci-Fi               17
Adventure,Drama,Music               17
Crime,Drama,Musical                 17
Animation,Music                     17
Adventure,History                   17
Drama,History,Music                 17
Drama,Family,Sci-Fi                 17
Animation,Comedy,Horror             17
Fantasy,Mystery,Romance             16
Crime,Mystery,Romance               16
Animation,Biography,Comedy          16
Crime,Fantasy,Horror                15
News                                15
Action,Adventure,Western            15
Action,Fantasy,Romance              15
Adventure,Mystery                   15
Drama,Music,Mystery                 15
Crime,Drama,Western                 15
Crime,Drama,Sci-Fi                  15
Comedy,Music,Musical                15
Comedy,Fantasy,Mystery              15
Horror,Western                      15
Action,Comedy,Sport                 14
Drama,Music,Thriller                14
Action,Crime,Fantasy                14
Drama,Thriller,Western              14
Adventure,Crime,Family              14
Fantasy,Music                       14
Animation,Fantasy,Horror            14
Animation,Drama,Music               13
Action,Adventure,War                13
Drama,History,Musical               13
Adventure,Sport                     13
Animation,Crime,Drama               13
Biography,Drama,Mystery             13
Biography,History,War               13
Crime,Sci-Fi,Thriller               13
Animation,Drama,Mystery             13
Action,Comedy,Music                 13
Family,Sci-Fi                       12
Family,Mystery                      12
Crime,Mystery,Sci-Fi                12
Crime,Fantasy,Mystery               12
Drama,Horror,Music                  12
Animation,Comedy,Romance            12
Crime,Drama,War                     11
Animation,Sport                     11
Comedy,Musical,Sci-Fi               11
Drama,History,Western               11
Romance,War                         11
Adventure,Animation,Biography       11
Biography,Sport                     11
Family,Fantasy,Musical              11
Thriller,War                        11
Animation,Musical                   11
Fantasy,Musical                     11
Animation,Comedy,Musical            11
Adult,Comedy                        11
Adventure,Comedy,Thriller           11
Drama,Musical,Thriller              11
Action,Biography,History            11
Drama,Mystery,War                   11
Adult,Drama,Romance                 10
Crime,Horror,Romance                10
Romance,Sci-Fi,Thriller             10
Drama,Romance,Western               10
Action,Mystery                      10
Action,Animation,Horror             10
Action,Horror,Western               10
Animation,Drama,Sci-Fi              10
Horror,Music                        10
Action,Biography,Comedy             10
Adventure,Drama,War                 10
Thriller,Western                    10
Comedy,Family,Sci-Fi                10
Action,Horror,Romance               10
Action,Crime,History                 9
Adventure,Family,Romance             9
Adventure,Comedy,Sport               9
Drama,History,Horror                 9
Action,Comedy,History                9
Action,Comedy,Western                9
Animation,Drama,Sport                9
Drama,Music,Sci-Fi                   9
Fantasy,Music,Romance                9
Drama,Family,Horror                  9
History,Horror                       9
Animation,Comedy,Music               9
Animation,Biography,History          9
Comedy,Crime,Music                   9
Adventure,Fantasy,Romance            9
Adventure,Drama,Musical              9
Animation,Drama,History              9
Adult,Horror                         9
Action,Biography                     9
Adventure,Mystery,Sci-Fi             9
Adventure,Drama,Western              9
Horror,Thriller,Western              9
Adventure,Drama,Sport                8
Action,Comedy,War                    8
Fantasy,Romance,Thriller             8
Biography,Comedy,Music               8
Drama,Music,War                      8
Action,History,Thriller              8
Biography,Musical                    8
Biography,Drama,Horror               8
Animation,Fantasy,Music              8
Romance,Sport                        8
Family,Musical,Romance               8
Crime,Horror,Sci-Fi                  8
Comedy,Family,Mystery                8
Animation,Fantasy,Mystery            8
Animation,Horror,Mystery             8
Adventure,Comedy,Western             8
Drama,Musical,Sci-Fi                 8
Action,Sci-Fi,War                    8
Comedy,Drama,Western                 8
Drama,Fantasy,War                    8
Animation,Biography                  8
Comedy,Crime,Musical                 8
Comedy,Fantasy,Thriller              8
Fantasy,Western                      8
Drama,Horror,Musical                 8
Music,Sci-Fi                         7
Animation,Drama,Horror               7
Adventure,Crime,Thriller             7
Family,Music                         7
Adventure,Crime                      7
Action,Fantasy,Mystery               7
Biography,Family                     7
Adventure,Biography,History          7
Biography,Comedy,Romance             7
Sci-Fi,Western                       7
Drama,History,Sci-Fi                 7
Animation,History                    7
Adventure,Comedy,Music               7
Action,Romance,Sci-Fi                7
Adventure,Animation,Crime            7
Crime,Family                         7
Horror,Music,Thriller                7
Fantasy,Romance,Sci-Fi               7
Drama,Sport,Thriller                 7
Adult,Fantasy                        7
History,Romance                      7
Horror,Thriller,War                  7
Animation,Thriller                   6
Biography,Comedy,History             6
Adventure,Fantasy,Thriller           6
Animation,Fantasy,Romance            6
Action,Animation,Family              6
Family,Fantasy,Sci-Fi                6
Family,Fantasy,Music                 6
Horror,War                           6
Drama,Musical,Mystery                6
Adventure,Fantasy,History            6
Action,Adventure,Sport               6
Animation,Family,History             6
Comedy,Musical,Mystery               6
Crime,History,Thriller               6
Adventure,Comedy,History             6
Comedy,Family,Thriller               6
History,Horror,Thriller              6
Animation,Mystery,Sci-Fi             6
Adventure,Family,Western             6
Horror,Music,Sci-Fi                  6
Animation,Drama,Musical              6
Family,Thriller                      6
Biography,Romance                    6

In [70]:
# Keep only US movies
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = df_basics['tconst'].isin(df_akas['titleId'])

In [71]:
df_basics = df_basics[keepers]
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

**RATINGS DATASET**

In [72]:
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
2  tt0000003            6.5      1808
3  tt0000004            5.6       178
4  tt0000005            6.2      2607

In [73]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305933 entries, 0 to 1305932
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1305933 non-null  object
 1   averageRating  1305933 non-null  float64
 2   numVotes       1305933 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.9+ MB

In [74]:
df_ratings = df_ratings.replace({'\\N':np.nan})

In [75]:
df_ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [76]:
# Filter the ratings table down to only include the US by using the filter akas dataframe
keepers2 =df_ratings['tconst'].isin(df_akas['titleId'])

In [77]:
df_ratings = df_ratings[keepers2]
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
4  tt0000005            6.2      2607
5  tt0000006            5.2       181
6  tt0000007            5.4       816

## Dataframe Info

In [78]:
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1432914 entries, 5 to 35736362
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1432914 non-null  object
 1   ordering         1432914 non-null  int64
 2   title            1432914 non-null  object
 3   region           1432914 non-null  object
 4   language         3893 non-null     object
 5   types            978193 non-null   object
 6   attributes       46465 non-null    object
 7   isOriginalTitle  1431569 non-null  object
dtypes: int64(1), object(7)
memory usage: 98.4+ MB

In [79]:
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89097 entries, 34803 to 9808736
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          89097 non-null  object
 1   titleType       89097 non-null  object
 2   primaryTitle    89097 non-null  object
 3   originalTitle   89097 non-null  object
 4   isAdult         89097 non-null  object
 5   startYear       86561 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  89097 non-null  object
 8   genres          89097 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.8+ MB

In [80]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 496733 entries, 0 to 1305908
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         496733 non-null  object
 1   averageRating  496733 non-null  float64
 2   numVotes       496733 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.2+ MB

## Saving Dataframes

In [81]:
## Save current dataframe to file.
df_basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [82]:
# Open saved file and preview again
df_basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [83]:
df_akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [84]:
df_akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [85]:
df_ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [86]:
df_ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
2  tt0000005            6.2      2607
3  tt0000006            5.2       181
4  tt0000007            5.4       816